.container {
  display: grid;
  grid-template-columns: repeat(3, 27%);
  justify-content: center;
  gap: 3rem;
}

.container > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 28px;
  padding: 1.5rem 1rem;
}

.container small {
  color: var(--surface-600);
}

.container p {
  margin-top: 0.5rem;
}

.icon {
  background-color: var(--surface-100);
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}